<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cn.edu.nju.software.xyz.pim">
	<application android:icon="@drawable/icon">
		<activity android:name=".Main"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/organizer"
			android:icon="@drawable/organizer" android:name=".organizer.Organizer">
		</activity>
		<activity android:name=".account.Account"
			android:label="@string/account">
		</activity>
		<activity android:name=".account.HouseLoanCal"
			android:label="@string/houseloancal">
		</activity>
		<activity android:name=".account.ExchangeRateCal"
			android:label="@string/exchageratecal">
		</activity>
		<activity android:name=".test.Test"
			android:label="@string/test">
		</activity>
		<activity android:name=".account.HouseLoanResult"></activity>
		<activity android:name=".contacts.GroupsView"
			android:label="@string/group_list">
		</activity>
		<activity android:name=".contacts.GroupNameEdit"
			android:label="@string/group" android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".rss.RSSFeedsView"
			android:label="RSS Feeds">
		</activity>
		<activity android:name=".rss.RSSURLEdit"
			android:label="Input RSS Feed URL">
		</activity>
		<activity android:name=".rss.RSSArticlesView"
			android:label="RSS Articles">
		</activity>
		<activity android:name=".rss.RSSDescriptionView"
			android:label="Read Article">
		</activity>
		<activity android:label="@string/newtask"
			android:name=".organizer.CreateNewTask">
		</activity>
		<activity android:name=".organizer.CreateMeeting"
			android:label="@string/meeting">
		</activity>
		<activity android:name=".organizer.TaskView"></activity>
		<activity android:name=".organizer.NoteView"
			android:label="@string/note">
		</activity>
		<activity android:name=".organizer.EditNote"
			android:label="@string/note">
		</activity>
		<activity android:name=".organizer.CreateNote"
			android:label="@string/note">
		</activity>
		<activity android:name=".organizer.MeetingView"
			android:label="@string/meeting">
		</activity>
		<activity android:name=".organizer.EditMeeting"
			android:label="@string/meeting">
		</activity>
		<activity android:name=".organizer.EditTask"></activity>
	<activity android:name=".contacts.GroupMembersView" android:label="组成员视图">
</activity><activity android:name=".email.ui.EmailAccountList">
</activity><activity android:name=".email.ui.EditSettingsView">
</activity><activity android:name=".email.ui.FolderView">
</activity><activity android:name=".email.ui.EmailCompose">
</activity><activity android:name=".email.ui.EmailMessageList">
</activity><activity android:name=".email.ui.EmailReadView">
</activity></application>
	<uses-permission android:name="android.permission.READ_CONTACTS">
	</uses-permission>
</manifest>
