<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cn.edu.nju.software.xyz.pim">
	<application android:icon="@drawable/icon">
		<activity android:name=".Main"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/organizer"
			android:icon="@drawable/organizer"
			android:name=".organizer.Organizer">
		</activity>
		<activity android:label="@string/finance"
			android:name=".finance.Finance">
		</activity>
		<activity android:label="@string/houseloancal"
			android:name=".finance.HouseLoanCal">
		</activity>
		<activity android:label="@string/exchageratecal"
			android:name=".finance.ExchangeRateCal">
		</activity>
		<activity android:name=".test.Test"
			android:label="@string/test">
		</activity>
		<activity android:name=".contacts.GroupsView"
			android:label="@string/group_list">
		</activity>
		<activity android:name=".contacts.GroupNameEdit"
			android:label="@string/group"
			android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".rss.RSSFeedsView"
			android:label="RSS Feeds">
		</activity>
		<activity android:name=".rss.RSSURLEdit"
			android:label="Input RSS Feed URL">
		</activity>
		<activity android:name=".rss.RSSArticlesView"
			android:label="RSS Articles">
		</activity>
		<activity android:name=".rss.RSSDescriptionView"
			android:label="Read Article">
		</activity>


		<activity android:name=".organizer.TaskView"
			android:label="@string/schedule">
		</activity>
		<activity android:name=".organizer.NoteView"
			android:label="@string/note">
		</activity>
		<activity android:name=".organizer.EditNote"
			android:label="@string/note">
		</activity>

		<activity android:name=".organizer.MeetingView"
			android:label="@string/meeting">
		</activity>
		<activity android:name=".organizer.EditMeeting"
			android:label="@string/meeting">
		</activity>
		<activity android:name=".organizer.EditTask"
			android:label="@string/schedule">
		</activity>
		<activity android:name=".contacts.GroupMembersView"
			android:label="组成员视图">
		</activity>
		<activity android:name=".email.ui.EmailAccountList"
			android:label="@string/email_account_list">
		</activity>
		<activity android:name=".email.ui.EditSettingsView"
			android:label="@string/email_account_setting"
			android:icon="@drawable/setting">
		</activity>
		<activity android:name=".email.ui.FolderView"
			android:label="@string/email_folders">
		</activity>
		<activity android:name=".email.ui.EmailCompose"
			android:label="@string/compose">
		</activity>
		<activity android:name=".email.ui.EmailMessageList"
			android:label="@string/email_message_list">
		</activity>
		<activity android:name=".email.ui.EmailReadView"
			android:label="@string/read">
		</activity>
		<activity android:name=".finance.ShowRate"></activity>
		<activity android:name=".finance.HouseLoanResult"></activity>
	<activity android:name=".email.ui.GroupSelectView">
</activity></application>
	<uses-permission android:name="android.permission.READ_CONTACTS">
	</uses-permission>
</manifest>
